$mainColor : #15023a ;
$mobileWidth :480px;
$tabletWidth:768px;
$monitorWidth:1280px;
@mixin mobileRes {
    @media screen and (max-width:$mobileWidth){
        @content
    }
}

@mixin tabletRes {
    @media screen and (min-width:$mobileWidth) and (max-width:$tabletWidth){
        @content
    }
}
@mixin monitorRes {
    @media screen and (min-width:$tabletWidth) and (max-width:$monitorWidth){
        @content
    }
}